# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
.eggs/
.eggs-info/
.installed.cfg
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg

# Virtual environments
venv/
ENV/
.env
.venv/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite

# Ignore model artifacts
models/
